---
title: Home
slug: home
description: Úll is a conference for people who build and love great products. We focus on great product stories, presented through an Apple-shaped lens. We treat the conference itself as a product: with a deep emphasis on the attendee experience. Úll 2016 will explore that very Apple-y of ideas: thinking different.
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>

  <div class="hide_overflow_x">
    <div class="background_square"></div>
    <div class="background_circle"></div>
    <div class="background_triangle"></div>
  </div>

  <div class="intro-page">
    <div class="intro-title">
      <h2 class="spaced-header">A conference about<br><em>thinking different</em></h2>
    </div>
  </div>

  <div class="lauren-dark"></div>

  <div class="ull-description">

    <a href="index.html">
      <div class="index-logo logo"></div>
    </a>

    <div class="description-paragraphs">

      <p style="text-align: center">
        November 1–2, 2016<br>Killarney, Ireland
      </p>

      <p>
        Úll is a conference for people who build and love great products. We focus on great product stories, presented through an Apple-shaped lens. We treat the conference itself as a product: with a deep emphasis on the attendee experience.
      </p>

      <p>
        Úll 2016 will explore that very Apple-y of ideas: <em>thinking different</em>.</p>

      <p>We will hear stories from a selection of folks about what thinking different means to them, and we’ll learn more about ourselves and the world of building great products from a series of interactive features. As ever, we hope to come away having made some great new friends, and bringing a fresh outlook to our lives and to our work.
      </p>

        <button type="button" name="button" class="ticket-button index-button">
          <h2>Tickets</h2>
        </button>
        <h5 class="align-center"><a href="code-of-conduct.html">Read our Code of Conduct</a></h5>
    </div>
  </div>

  <div id="" class="photo-europe-1"></div>

  <div class="europe-text">
    <h2 class="spaced-header">Home again, home again, jiggidy jig</h2>
    <p>
      Úll returns in 2016 to <a href="http://theeurope.com">The Europe</a>. This is a multi-award winning hotel and resort with stunning views overlooking <a href="https://en.wikipedia.org/wiki/Lough_Leane">Lough Leane</a>. Situated in Killarney, in the kingdom of Kerry, in Ireland’s south west coast (which you may be familiar with from a certain recent Star Wars film). It’s the perfect place to reflect on the bigger picture, steeped in natural beauty.
    </p>

    <p class="next border-top">
      <a href="/about.html">Find out more about Úll &rarr;</a>
    </p>
  </div>

  {% include footer.html %}

  {% include google_analytics.html %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>

  <script>
  $(window).scroll(function() {

    var scroll = $(window).scrollTop();

    var scrollPast = $( window ).height();

    if (scroll >= scrollPast) {
      $(".index-logo").addClass("animate-in");
      $(".description-paragraphs").addClass("animate-in");
    }
    // else {
    //   $(".index-logo").removeClass("animate-in");
    // }

  });
  </script>
</body>
