---
title: Speaking
story_link: http://goo.gl/forms/vzSA5xtHQBzDQ89v1
feature_link: http://goo.gl/forms/MhuB1SvC4iEw1aYw1
story_blogpost: https://medium.com/@ullconf/4b22ba23e680
feature_blogpost: https://medium.com/@ullconf/89aab8e48511
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Úll - Participation</title>
  <link href="css/style.css" rel="stylesheet">
  <script src="https://use.typekit.net/cye5xxq.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>

<body>

  <div class="hide_overflow_x">
    <div class="background_square"></div>
    <div class="background_circle"></div>
    <div class="background_triangle"></div>
  </div>

  <div class="participate-image"></div>

  <a href="index.html"><div class="logo"></div></a>

  <div class="content-column">
    <h2>Participation</h2>

    <p>
      This year, we are opening up a call for submissions to perform at Úll. The theme is, simply, “Thinking Different”.
    </p>

    <p>Applications will be open until June 30th, 2016</p>

    <p>
      There are two options:
    </p>
    <ol>
      <li><a href="{{ page.story_link }}">Tell a story</a>.</li>
      <li><a href="{{ page.feature_link }}">Present a Special Feature</a>.</li>
    </ol>

    <h3>Tell a story?</h3>

    <p>
      We are looking for folks to tell a 10 minute story about what “Thinking Different” means to them. That’s the simple brief.
    </p>

    <p>
      We would, however, love for you to think of this as a performance. We’re not looking for slides or elaborate visuals. It will just be you, and the audience.
    </p>

    <p>Can you tell a story that will inspire folks? Deliver some novel insight? Or just plain old inspire us? If so, please <a href="{{ page.story_link }}">apply here</a>. If you want to find out more <a href="{{ page.story_blogpost }}">read our blog post</a>.</p>

    <p>
      If you want to present technical or educational content, please consider submitting to present a special feature.
    </p>

    <h3>Special Features?</h3>
    <em>The presentation format for introverts</em>

    <p>
      The Úll Special Feature is an idea we have developed over the last few years. In a nutshell, rather than give you a stage and a timeslot, we give you a room and invite you to set it up with your presentation.
    </p>

    <p>
      A Special Feature can be a regular conference talk that you record that attendees can walk in and watch. Or it could be an art installation that teaches attendees about hardware hacking. Or it could be a time machine that takes attendees back to their childhood and forward into old age.
    </p>

    <p>
      Can you create an experience that folks will remember long after the conference is over? Can you build an interactive installation? Prepare a talk that you pre-record? Do something completely original? If so,
      <a href="{{ page.feature_link }}">apply here</a> or read more about Special Features <a href="{{ page.feature_blogpost }}">on our blog post</a>.
    </p>

    <h3>The Package</h3>

    <p>
      For anyone who presents at Úll, we will provide:
    </p>
    <ul>
      <li>A full free ticket to the conference</li>
      <li>Up to €750 to cover an economy-class flight to Ireland</li>
      <li>Up to 4 nights accommodation at The Europe Hotel and Spa Resort (lakeview room with balcony)</li>
      <li>Train transportation to and from Killarney if you arrive in Dublin</li>
    </ul>

    <h3>Support</h3>

    <p>All storytellers and feature presenters will have access to The Europe the day before and the morning of the conference to test out the AV, walk the stage, or set up their space.</p>

    <p>
      We want everyone who presents at Úll to feel supported. We are happy to work with you on preparing your story or feature. Things we could help with:
    </p>

    <ul>
      <li>Brainstorming ideas</li>
      <li>Finding a mentor</li>
      <li>Figuring out and budgeting for any additional AV requirements</li>
      <li>Arranging suitable rehearsal time</li>
      <li>As much mutual support as we can muster</li>
    </ul>

    <p>
      We’re here for you to support you in any way we can. Presentations form the structural core of a conference, and we want ours to be as strong as it can be.
    </p>

    <ul>
      <li><a href="{{ page.story_link }}">Apply to tell a story</a>.</li>
      <li><a href="{{ page.feature_link }}">Apply to present a Special Feature</a>.</li>
    </ul>
  </div>
</div>


{% include footer.html %}
<script src="js/3dtouch.js"></script>
{% include google_analytics.html %}
</body>
