---
title: Presenters
slug: participate
description: The storytellers and feature presenters
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>

  <div class="hide_overflow_x">
    <div class="background_square"></div>
    <div class="background_circle"></div>
    <div class="background_triangle"></div>
  </div>

  <a href="index.html">
    <div class="index-logo logo"></div>
  </a>

  <h1 class="speaker-heading">Storytellers</h1>

  <div class="flex-container-presenters">

    <div class="speaker">
      <div class="speaker-photo alexandra"></div>
      <h2>Alexandra Cox</h2>
      <h4>Chicago, Illinois</h4>
      <p>
        Alex is a documentary filmaker, podcast host and Senior Producer at Cards Against Humanity. She loves cats and robots and is one half of Robism, a podcast about robots and feminism.
      </p>
    </div>

    <div class="speaker">
      <div class="speaker-photo dermot"></div>
      <h2>Dermot Casey</h2>
      <h4>Dublin, Ireland</h4>
      <p>
        Dermot is a Venture Leader at NDRC, a startup accelerator. He describes this as somewhere between "a talent scout for technology" and  "a matchmaker". When he's not helping startups, you'll find him buried in blogs, papers and publications. He's a what you might call an infovore or an eater-of-books!
      </p>
    </div>

    <div class="speaker">
      <div class="speaker-photo kathy"></div>
      <h2>Kathy Campbell</h2>
      <h4>Portland, Oregon</h4>
      <p>
        Kathy, also known as Chief Awesome Officer, runs her own business supporting entrepreneurs to grow theirs. She's developed her career around the realisation that she is happiest when she's helping others. She loves a good list and is the ultimate multi-tasker.
      </p>
    </div>

    <div class="speaker">
      <div class="speaker-photo katie"></div>
      <h2>Katie Lips</h2>
      <h4>Buckinghamshire, England</h4>
      <p>
        Katie is contemporary artist, digital strategist and entrepreneur. Having launched two mobile start-ups, her work challenges startup culture and causes people to question and reflect on the constant stream of so-called boundary pushing, groundbreaking and disruptive work.
      </p>
    </div>

    <div class="speaker">
      <div class="speaker-photo silvana"></div>
      <h2>Silvana Langley</h2>
      <h4>Toronto, Canada</h4>
      <p>
        Silvana is a development manager with an active imagination and an appetite for adventure. She's likes Kung Fu, cycling with her family, volunteering for Rethink Breast Cancer and punk rock shows.
      </p>
    </div>

    <div class="speaker">
      <div class="speaker-photo tammy"></div>
      <h2>Tammy Coron</h2>
      <h4>Lexington, Tennesee</h4>
      <p>
        Tammy is a born tech creative and coded her first programme at just five years old! She is a writer, musician, artist, podcaster, software engineer and founder of Just Write Code. She's also an organiser for Indie DevStock in Nashville. And she still finds time to ride motorcycles, shoot guns, drive trucks and hang out with her family on their farm.
      </p>
    </div>
  </div>

  <h1 class="speaker-heading">Special Features</h1>

  <div class="flex-container-presenters">
    <div class="speaker">
      <div class="speaker-photo sally"></div>
      <h2>Sally Shepard</h2>
      <h4>London, England</h4>
      <p>
        Sally is an IOS developer and accessibility consultant. She was previously Head of App Development at Dennis Publishing and has worked on apps that have been used in hospitals, galleries and named 'App of the Year' by Apple. Originally from Rhode Island, she enjoys hacking, playing the banjo and taking photos with her vintage camera.
      </p>
    </div>

    <div class="speaker">
      <div class="speaker-photo conrad"></div>
      <h2>Conrad Stoll</h2>
      <h4>Austin, Texas</h4>
      <p>
        Conrad is a freelance sports photographer and an IOS developer for Mutual Mobile. He also designs and builds apps for Apple Watch. When he's not working, he's running, gaming, hiking in Colorado and New Mexico or eating, and tweeting about, tacos.
      </p>
    </div>

    <div class="speaker">
      <div class="speaker-photo anna"></div>
      <h2>Anna Wilson</h2>
      <h4>Dublin, Ireland</h4>
      <p>
        Anna has worked with HEAnet, the Irish Research &amp; Education network, for over 20 years. During this time, she has acted as co-chair at RIPE, been heavily involved in GÉANT, and been a powerful voice on the experiences of the LGBT community in tech.
      </p>
    </div>

    <div class="speaker">
      <div class="speaker-photo chadwick"></div>
      <h2>Chadwick Severn</h2>

      <h4>Gloucestershire, England</h4>
      <p>
        Chadwick is web and app developer with flair for mischief and a very dry wit. He is the creator of NotesKey, an insanely exhaustive quick reference guide to Apple's keynotes. In his spare time, he likes drinking tea and blogging about what it's like to be a Canadian in England.
      </p>
    </div>

    <div class="speaker">
      <div class="speaker-photo crystal"></div>
      <h2>Crystal Yan</h2>
      <h4>Washington, DC</h4>
      <p>
        Crystal is the Design Lead and Mobile Product Manager at FiscalNote. She's previously done stints at StackMob (acquired by PayPal), ACCION, Infosys in Bangalore and Standard Chartered Bank in Shanghai. She is a self-professed development policy geek and an avid traveller.
      </p>
    </div>

    <div class="speaker">
      <div class="speaker-photo tara"></div>
      <h2>Tara van Zyl</h2>
      <h4>Dublin, Ireland</h4>
      <p>
        Tara is the founder and CEO of Seamless and creator of iCostume, products designed dot help communication and design on tv and film sets. She spent 20 years as a costume designer and stylist, working on productions like Game of Thrones, Prometheus and The Boxer before making the leap to become a product designer and entrepreneur.
      </p>
    </div>
  </div>
  <div class="content-column">
    <p class="next border-top">
      <a href="/tickets.html">Find out the ticket details &rarr;</a>
    </p>
  </div>
<!-- <div class="button-container">
  <button type="button" name="button" class="ticket-button">
    <h2>Tickets</h2>
  </button>
</div> -->


{% include footer.html %}
{% include google_analytics.html %}
</body>
