---
title: Schedule
slug: schedule
description: The Úll schedule, including details of the optional shoulder events, and the details of timings for the conference days.
builders: false
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>

  <div class="hide_overflow_x">
    <div class="background_square"></div>
    <div class="background_circle"></div>
    <div class="background_triangle"></div>
  </div>

  <div class="nav-icon schedule-image"></div>

  <a href="index.html"><div class="logo"></div></a>

  <div class="new-schedule">
    <div class="new-schedule-day">
      <h1>Monday</h1>
      <h2 class="new-schedule-date">Oct 31<superscript class="superscript">st</superscript></h2>
      <div class="new-schedule-divider"></div>

      <h4 class="new-schedule-time">13:30</h4>
      <h4 class="new-schedule-title">
        Train Departs — Heuston Station
      </h4>

      <div class="new-schedule-divider"></div>

      <h4 class="new-schedule-time">17:00</h4>
      <h4 class="new-schedule-title">
        Arrive at the Europe
      </h4>

      <div class="new-schedule-divider"></div>

      <h4 class="new-schedule-time">20:00</h4>
      <h4 class="new-schedule-title">
        Dinner
      </h4>

      <div class="new-schedule-divider"></div>
    </div>

    <div class="new-schedule-day">
      <h1>Tuesday</h1>
      <h2 class="new-schedule-date">Nov 1<superscript class="superscript">st</superscript></h2>
      <div class="new-schedule-divider"></div>

      <h4 class="new-schedule-time">12:00</h4>
      <h4 class="new-schedule-title">
        Registration
      </h4>

      <div class="new-schedule-divider"></div>

      <h4 class="new-schedule-time">14:00</h4>
      <h4 class="new-schedule-title reveal-3">
        Builders
      </h4>

      <!-- <h4 class="new-schedule-title reveal-3">
        Builders <span class="tap-for-more"> &mdash; tap for details!</span>
      </h4> -->

      <div class="new-schedule-speaker-block reveal-3">
        <div class="">
          <h4 class="new-schedule-title">
            Max Seelemann
          </h4>
          <!-- <h5 class="new-schedule-subtitle">
            Lorem Ipsum
          </h5>
          <p class="reveal-paragraph-3">
            Lorem Ipsum
          </p> -->
        </div>

        <div class="">
          <h4 class="new-schedule-title">
            Stephen Coyle
          </h4>
          <!-- <h5 class="new-schedule-subtitle">
            Lorem Ipsum
          </h5>

          <p class="reveal-paragraph-3">
            Lorem Ipsum
          </p> -->
        </div>

        <div class="">
          <h4 class="new-schedule-title">
            Clay Smith
          </h4>
          <!-- <h5 class="new-schedule-subtitle">
            Lorem Ipsum
          </h5>

          <p class="reveal-paragraph-3">
            Lorem Ipsum
          </p> -->
        </div>

        <div class="">
          <h4 class="new-schedule-title">
            Matt Drozdzynski
          </h4>
          <!-- <h5 class="new-schedule-subtitle">
            Lorem Ipsum
          </h5>

          <p class="reveal-paragraph-3">
            Lorem Ipsum
          </p> -->
        </div>

        <div class="">
          <h4 class="new-schedule-title">
            Laura Savino
          </h4>
          <!-- <h5 class="new-schedule-subtitle">
            Lorem Ipsum
          </h5>

          <p class="reveal-paragraph-3">
            Lorem Ipsum
          </p> -->
        </div>

        <div class="">
          <h4 class="new-schedule-title">
            Cian Walsh
          </h4>
          <!-- <h5 class="new-schedule-subtitle">
            Lorem Ipsum
          </h5>

          <p class="reveal-paragraph-3">
            Lorem Ipsum
          </p> -->
        </div>
      </div>

      <div class="new-schedule-divider"></div>
      <h4 class="new-schedule-time">17:00</h4>
      <h4 class="new-schedule-title">
        Break
      </h4>

      <div class="new-schedule-divider"></div>
      <h4 class="new-schedule-time">19:00</h4>
      <h4 class="new-schedule-title">
        Dinner
      </h4>

      <div class="new-schedule-divider"></div>
      <h4 class="new-schedule-time">21:00</h4>

      <h4 class="new-schedule-title reveal">
        Storytellers <span class="tap-for-more"> &mdash; tap for details!</span>
      </h4>

      <div class="new-schedule-speaker-block reveal">
        <div class="">
          <h4 class="new-schedule-title">
            Kathy Campbell
          </h4>
          <h5 class="new-schedule-subtitle">
            A Stroke of Luck
          </h5>
          <p class="reveal-paragraph">
            In 2010, Kathy’s life changed dramatically when her husband, a stay-at-home dad to their daughter of almost 2, had a severe and debilitating stroke at age 27. The challenges and successes of redefining a life and finding a new, successful, and above all, happy normal.
          </p>
        </div>

        <div class="">
          <h4 class="new-schedule-title">
            Tammy Coron
          </h4>
          <h5 class="new-schedule-subtitle">
            All Roads Lead to Rome
          </h5>

          <p class="reveal-paragraph">
            While reaching our goals brings satisfaction, life happens in the twisted journeys we take to achieve them. It’s those that dare to take an unmarked path that explore the unknown and discover something new.
          </p>
        </div>

        <div class="">
          <h4 class="new-schedule-title">
            Dermot Casey
          </h4>
          <h5 class="new-schedule-subtitle">
            Morality of Software
          </h5>

          <p class="reveal-paragraph">
            From Harry Potter to Voldemort. A story of bits, bytes, morality and human frailty.
          </p>
        </div>

        <div class="">
          <h4 class="new-schedule-title">
            Katie Lips
          </h4>
          <h5 class="new-schedule-subtitle">
            Art Not Work Manifesto
          </h5>

          <p class="reveal-paragraph">
            A story / performance / call to arms about thinking different, going further, digging deeper, freeing ourselves to never ever stop at ‘delivery’, at ‘meeting a brief’; never being satisfied with just “doing work”.
          </p>
        </div>

        <div class="">
          <h4 class="new-schedule-title">
            Silvana Langley
          </h4>
          <h5 class="new-schedule-subtitle">
            Childhood Heroes
          </h5>

          <p class="reveal-paragraph">
            Take a journey of hero proportions as you rediscover your childhood heroes and find out how we can bring that spirit of adventure into our everyday lives.
          </p>
        </div>

        <div class="">
          <h4 class="new-schedule-title">
            Alexandra Cox
          </h4>
          <h5 class="new-schedule-subtitle">
            Manic Dependency
          </h5>

          <p class="reveal-paragraph">
            An exploration of mental health and what it means to think different when your brain is already wired to do so.
          </p>
        </div>
      </div>

      <div class="new-schedule-divider"></div>
    </div>



    <div class="new-schedule-day">
      <h1>Wednesday</h1>
      <h2 class="new-schedule-date">Nov 2<superscript class="superscript">nd</superscript></h2>

      <div class="new-schedule-divider"></div>
      <h4 class="new-schedule-time">10:00</h4>
      <h4 class="new-schedule-title reveal-2">
        Special Features <span class="tap-for-more">&mdash; tap for details!</span>
      </h4>

      <div class="new-schedule-speaker-block reveal-2">
        <div class="">
          <h4 class="new-schedule-title">
            Sally Shepard
          </h4>
          <h5 class="new-schedule-subtitle">
            Augmenting The Senses - Building Empathy For Accessibility
          </h5>

          <p class="reveal-paragraph-2">
            Your senses guide you on how to interact with the world, but what if you didn't have all of your senses? In this special feature, "try on" visual and auditory impairments, while performing tasks, creating art and learning how to use assistive technologies.
          </p>
        </div>

        <div class="">
          <h4 class="new-schedule-title">
            Conrad Stoll
          </h4>
          <h5 class="new-schedule-subtitle">
            Take It Outside
          </h5>
          <p class="reveal-paragraph-2">
            A photo illustrated experience of the outdoors and an exploration of how a relationship with the outdoors can enhance our technology-filled life and work.
          </p>
        </div>

        <div class="">
          <h4 class="new-schedule-title">
            Anna Wilson
          </h4>
          <h5 class="new-schedule-subtitle">
            Inclusive v Opinionated Design
          </h5>
          <p class="reveal-paragraph-2">
            A day long open conversation about the LGBT experience of making, using and navigating the apps and systems we all use.
          </p>
        </div>

        <div class="">
          <h4 class="new-schedule-title">
            Chadwick Severn
          </h4>
          <h5 class="new-schedule-subtitle">
            Apple Design Studio Escape Room
          </h5>
          <p class="reveal-paragraph-2">
            It turns out Apple has a top secret auxiliary design studio in Ireland, coincidentally located right here in an unmarked back room of The Europe. Once inside, can you find the prototypes and clues and solve the puzzles that will get you out before a security guard checks on the room in 15 minutes?
          </p>
        </div>

        <div class="">
          <h4 class="new-schedule-title">
            Crystal Yan
          </h4>
          <h5 class="new-schedule-subtitle">
            Bias Uncovered
          </h5>
          <p class="reveal-paragraph-2">
            A feature designed to challenge you to uncover your own cognitive biases and explore how understanding them can help us design for the behaviours we encounter every day.
          </p>
        </div>

        <div class="">
          <h4 class="new-schedule-title">
            Tara van Zyl
          </h4>
          <h5 class="new-schedule-subtitle">
            How irrational are your decisions?
          </h5>
          <p class="reveal-paragraph-2">
            A feature designed to challenge you to uncover your own cognitive biases and explore how understanding them can help us design for the behaviours we encounter every day.
          </p>
        </div>
      </div>

      <div class="new-schedule-divider"></div>

      <h4 class="new-schedule-time">13:00</h4>
      <h4 class="new-schedule-title">
        Lunch
      </h4>

      <div class="new-schedule-divider"></div>

      <h4 class="new-schedule-time">15:00</h4>
      <h4 class="new-schedule-title">
        Special Features Cont.
      </h4>

      <div class="new-schedule-divider"></div>

      <h4 class="new-schedule-time">18:00</h4>
      <h4 class="new-schedule-title">
        Wind Down
      </h4>

      <div class="new-schedule-divider"></div>

      <h4 class="new-schedule-time">20:00</h4>
      <h4 class="new-schedule-title">
        Dinner
      </h4>

      <div class="new-schedule-divider"></div>

      <!-- <h4 class="new-schedule-time">21:00</h4>
      <h4 class="new-schedule-title">
        Horace Dediu
      </h4>
      <h5 class="new-schedule-subtitle">Keynote</h5>

      <div class="new-schedule-divider"></div> -->
    </div>


    <div class="new-schedule-day">
      <h1>Thursday</h1>
      <h2 class="new-schedule-date">Nov 3<superscript class="superscript">rd</superscript></h2>
      <div class="new-schedule-divider"></div>

      <h4 class="new-schedule-time">20:00</h4>
      <h4 class="new-schedule-title">
        Wind Down Dinner
      </h4>

      <div class="new-schedule-divider"></div>
    </div>
  </div>
</div>



<div class="content-column">
  <p class="next border-top">
    <a href="/presenters.html">Meet our presenters &rarr;</a>
  </p>
</div>


{% include footer.html %}
{% include google_analytics.html %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript">
$( ".reveal" ).click(function() {
  $( ".reveal-paragraph" ).toggleClass("visible");
});

$( ".reveal-2" ).click(function() {
  $( ".reveal-paragraph-2" ).toggleClass("visible");
});

$( ".reveal-3" ).click(function() {
  $( ".reveal-paragraph-3" ).toggleClass("visible");
});
</script>



</body>
