---
title: Sponsors
slug: sponsors
description: The wonderful people who help make Úll happen.
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>

  <div class="hide_overflow_x">
    <div class="background_square"></div>
    <div class="background_circle"></div>
    <div class="background_triangle"></div>
  </div>

  <div class="logistics-image"></div>

  <a href="index.html"><div class="logo"></div></a>

  <div class="content-column sponsor">

    <h3>Úll wouldn't be possible without the help of our fine sponsors.</h3>

    <h3>This year, Úll is brought to you by:</h3>

  </div>

  <div class="flexbox sponsor">
    <div class="flexblock">
      <a href="http://gfsmith.com/">
        <img src="images/sponsors/gfsmith-logo.png" alt="" />
        <!-- <h2>GF Smith</h2> -->
      </a>
    </div>

    <div class="flexblock tapadoo">
      <a href="http://tapadoo.com">
        <img src="images/sponsors/tapadoo-logo.png" alt="" />
        <!-- <h2>Tapadoo</h2> -->
      </a>
    </div>


    <div class="flexblock">
      <a href="https://ti.to/home">
        <img src="images/sponsors/tito-logo.png" alt="" />
        <!-- <h2>Tito</h2> -->
      </a>
    </div>


    <div class="flexblock">
      <a href="https://nextjournal.com">
        <img src="images/sponsors/nextjournal-logo.png" alt="" />
        <!-- <h2>Nextjournal</h2> -->
      </a>
    </div>
  </div>

  <div class="content-column sponsor">

    <h3 class="center">&amp;</h3>

    <div class="flexblock center">
      <a href="https://www.swrve.com">
        <img src="images/sponsors/swrve-logo.png" alt="" />
        <!-- <h2 class="center">Swrve</h2> -->
      </a>
    </div>
  </div>

<h3 class="center">And our Eagran supporters:</h3>

  <div class="flexbox sponsor">
    <div class="flexblock">
      <a href="https://www.varvet.com">
        <h3>Carl-Johan Kihlbom</h3>
      </a>
    </div>

    <div class="flexblock">
        <h3>Hans Petter Eikemo</h3>
    </div>


    <div class="flexblock">
        <h3>Pedro Marques</h3>
    </div>


    <div class="flexblock">
        <h3>Chris Aljoudi</h3>
    </div>

    <div class="flexblock">
        <h3>Jan Van Boghout</h3>
    </div>

    <div class="flexblock">
      <a href="http://tapjet.co">
        <h3>Chris Harris</h3>
      </a>
    </div>
  </div>


  {% include footer.html %}

  {% include google_analytics.html %}
</body>
