---
title: Logistics
slug: tickets
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Úll — Tickets</title>
  <link href="css/style.css" rel="stylesheet">
  <script src="https://use.typekit.net/cye5xxq.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>

<body>
  <div class="hide_overflow_x">
    <div class="background_square"></div>
    <div class="background_circle"></div>
    <div class="background_triangle"></div>
  </div>

  <div class="logistics-image"></div>

  <a href="index.html"><div class="logo"></div></a>

  <div class="content-column">

    <h2>Tickets</h2>

    <h3>All-inclusive options</h3>

    <p>
      As we have exclusive-use of the hotel, only Úll attendees can stay in the hotel for the 2 conference nights. Rooms are exclusively available through us for those two nights.
    </p>

    <p>
      We can accommodate double rooms, single rooms and twin rooms for those who wish to share.
    </p>

    <p>
      Úll also has a children’s track, and the hotel has family rooms and conjoining rooms. If you have any questions simply get in touch and we’ll accommodate you.
    </p>

    <h3>Eagrán</h3>

    <p>
      The Eagrán ticket is our supporters ticket. It consists of 4 nights accommodation at the hotel, admission to the conference as well as admission to pre- and post- conference events.
    </p>

    <h3>Stay 2 Nights</h3>

    <p>
      For those of you who want to get-in-get out you can enjoy the full conference experience by staying 2 nights at the Europe.
    </p>

  </div>

  <div class="content-column">
    <p class="next">
      <a href="/logistics.html">Getting there, away, and more &rarr;</a>
    </p>
  </div>

  {% include footer.html %}

  {% include google_analytics.html %}

</body>
