---
title: Logistics
slug: tickets
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Úll — Tickets</title>
  <link href="css/style.css" rel="stylesheet">
  <script src="https://use.typekit.net/cye5xxq.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <script src="js/ull.js"></script>
</head>

<body>
  <div class="hide_overflow_x">
    <div class="background_square"></div>
    <div class="background_circle"></div>
    <div class="background_triangle"></div>
  </div>

  <div class="logistics-image"></div>

  <a href="index.html"><div class="logo"></div></a>

  <div class="content-column tickets">

    <h2>Tickets</h2>

    <p>
      Please enter your email address on <a href="https://ti.to/ull/2016" target="_new">our ticket page</a> to be notified when tickets go on sale. Full ticket info and pricing is below.
    </p>

    <p>
      The core Úll conference happens on the days of November 1 and 2. It consists of:
    </p>

    <h4>First day (Tuesday November 1st):</h4>
    <ul>
      <li>
        Opening sessions
      </li>
      <li>
        Buffet-style dinner
      </li>
      <li>
        Evening sessions
      </li>
    </ul>

    <h4>Second day (Wednesday November 2nd):</h4>
    <ul>
      <li>
        Feature sessions all day
      </li>
      <li>
        Buffet-style lunch
      </li>
      <li>
        Gala dinner
      </li>
      <li>
        Closing session
      </li>
    </ul>

    <p>
      A standard Úll ticket gives you access to all of these sessions and meals, and will cost €799.
    </p>

    <h3>Shoulder events</h3>

    <p>
      We also organise an unofficial “official” pre-party on the 31st Halloween, and a wind-down event after the event. Both of these are catered and ticketed separately. We organise these so that if you want to arrive early or stick around later, there are clear, obvious things to go to.
    </p>

    <p>Both events are ticketed separately to the main conference. The Halloween party is €149 and the wind-down is €79. These fees mainly cover the organising costs.</p>

    <h3>All-inclusive options</h3>

    <p>
      As we have exclusive-use of the hotel, only Úll attendees can stay in the hotel for the 2 conference nights. Rooms are exclusively available through us for those two nights.
    </p>

    <p>
      We can accommodate double rooms, single rooms and twin rooms for those who wish to share. If you opt for a shared room, you can opt for someone to share with, or we will match you with someone.
    </p>

    <p>
      Accommodation in the Europe is €250 per night, so conference plus accommodation is €1,299 in a private room, €1,049 in a shared room.
    </p>

    <h3>Significant Others</h3>

    <p>
      We provide partner tickets to allow your partner to attend all Úll sessions. These are priced at €299 for the two conference days or €499 if you want to go to the shoulder events too. There is no extra cost for a partner to share a room.
    </p>

    <h3>Students and Unemployed</h3>

    <p>Students and currently unemployed folks can attend Úll for the reduced rate of €299, as long as they can provide details of their student or employment status.</p>

    <h3>Diversity Scholarships</h3>

    <p>We will be opening applications for a certain number of grants to support member of an underrepresented groups attending Úll. Please <a href="https://ti.to/ull/2016" target="_new">join the mailing list</a> on our ticket page if you’d like to be kept in the loop.</p>

    <h3>Úll Kids</h3>

    <p>
      Úll also has a children’s track, and the hotel has family rooms and conjoining rooms. If you have any questions simply get in touch and we’ll accommodate you.
    </p>

    <p>
      The Europe also provides a number of complimentary activities for kids.
    </p>

    <p>Last year we offered "kids go free" at our own cost. This year, we’re looking for a sponsor. If you’re interested in sponsoring the kids track, please <a href="mailto:feedback@ull.ie"  class="contact-us">get in touch</a>.</p>

    <h3>Eagrán</h3>

    <p>
      The Eagrán ticket is our supporters ticket. It consists of 4 nights accommodation at the hotel, admission to the conference as well as admission to pre- and post- conference events.
    </p>

  </div>

  <div class="content-column">
    <p class="next">
      <a href="/logistics.html">Getting there, away, and more &rarr;</a>
    </p>
  </div>

  {% include footer.html %}

  {% include google_analytics.html %}

</body>
