---
title: Who we are
slug: who
description: Short descriptions of the team behind Úll.
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
  <div class="hide_overflow_x">
    <div class="background_square"></div>
    <div class="background_circle"></div>
    <div class="background_triangle"></div>
  </div>

  <a href="index.html"><div class="logo"></div></a>

  <div class="content-column">

    <h2>Who We Are</h2>

    <p>Úll is organised by a small team from Dublin, Ireland.</p>

    <p>The conference and company was founded by Paul and Dermot in 2012. Sasha joined in year two. Ben volunteered that year, and has been involved each year since.</p>

    <p>Úll Conferences Limited is registered in Ireland, company registration number 535856</p>
  </div>

  <div class="flexbox">
    <div class="flexblock">
      <h2>Sasha Wilson</h2>

      <p>
        <a href="https://twitter.com/sashaw">@sashaw</a>
      </p>

      <p>
        Sasha is the "people-wrangler" at <a href="http://tapadoo.com">Tapadoo</a> where she helps customers to ensure that they get the best out of the team, and she helps the Tapa-team to make sure they deliver great apps.
      </p>

      <p>
        Sasha is integral to our efforts to improve diversity in both attendee and speaker selection, in addition to her role in making sure that pie-in-the-sky ideas become firmly rooted in objectively well-organised reality!
      </p>
    </div>

    <div class="flexblock">
      <h2>Paul Campbell</h2>

      <p>
        <a href="https://twitter.com/paulca">@paulca</a>
      </p>

      <p>
        Paul is the founder of <a href="https://ti.to">Tito</a>, a web-application for selling tickets online. Paul ran <a href="http://funconf.com">Funconf</a> for 3 years before starting Úll.
      </p>

      <p>
        Paul guides the good ship Úll, pushing the team to challenge the status quo of what a conference can be. The end result is typically a pared down version of the grand mayhem originally envisioned by Mr. Campbell.
      </p>
    </div>

    <div class="flexblock">
      <h2>Dermot Daly</h2>

      <p>
        <a href="https://twitter.com/dermdaly">@dermdaly</a>
      </p>

      <p>
        Dermot is the founder of Irish app-building company <a href="http://tapadoo.com">Tapadoo</a>. He is a veteran of the Irish software industry, and a frequent sight a WWDC each year. Read: he was in the audience during the iPhone 3GS launch.
      </p>

      <p>
        If Paul is volatile, Dermot is the self-styled <a href="http://randsinrepose.com/archives/stables-and-volatiles/">stable</a> of the Úll team. Dermot helps to refine the rough edges of crazy ideas into polished pieces of delight.
      </p>
    </div>

    <div class="flexblock">
      <h2>Ben McCarthy</h2>

      <p>
        <a href="https://twitter.com/BenRiceM">@BenRiceM</a>
      </p>

      <p>
        Ben is the author of <a href="http://benricemccarthy.com/development/obscura.html">Obscura</a> and <a href="http://benricemccarthy.com/development/agile.html">Agile</a>, in addition to being a very talented photographer.
      </p>

      <p>
        Ben started out as a volunteer in 2013, quickly being elevated to official photographer for the past two years, and this year serving as creative director, standing on the shoulders of <a href="https://twitter.com/kilmc">Kilbo</a> and <a href="http://workgroup.ie/">Workgroup née Conor &amp; David</a>.
      </p>
    </div>
  </div>

  {% include footer.html %}

  {% include google_analytics.html %}
</body>
