<div class="navbar">
    <div class="flexbox">

    {% if page.slug != 'home' %}
      <div class="nav-item-wrapper">
        <a href="./" class="nav-item">
          <h3>Home</h3>
        </a>
      </div>
    {% endif %}

      <div class="nav-item-wrapper">
        <a href="about.html" class="nav-item{% if page.slug == 'about' %} active{% endif %}">
          <h3>Why Úll?</h3>
        </a>
      </div>

      <div class="nav-item-wrapper">
        <a href="schedule.html" class="nav-item{% if page.slug == 'schedule' %} active{% endif %}">
          <h3>Schedule</h3>
        </a>
      </div>

      <div class="nav-item-wrapper">
        <a href="participate.html" class="nav-item{% if page.slug == 'participate' %} active{% endif %}">
          <h3>Participate</h3>
        </a>
      </div>

      <div class="nav-item-wrapper">
        <a href="tickets.html" class="nav-item{% if page.slug == 'tickets' %} active{% endif %}">
          <h3>Tickets</h3>
        </a>
      </div>

      <div class="nav-item-wrapper">
        <a href="logistics.html" class="nav-item{% if page.slug == 'logistics' %} active{% endif %}">
          <h3>Logistics</h3>
        </a>
      </div>
    </div>
  </div>

  <div class="footer">
    <p>
      A production of Úll Conferences Limited, registered in Ireland, company number 535856. VAT number 3382039RH.
    </p>

    <p>Presented by <a href="who-we-are.html">Dermot, Paul, Sasha &amp; Ben</a>. View our <a href="code-of-conduct.html">code of conduct</a>.</p>

    <p>
      Feedback? Want to sponsor? <a href="mailto:feedback@ull.ie"  id="get-in-touch">Get in touch</a>.
    </p>

    <p>Previously: <a href="http://2012.ull.ie">2012</a>, <a href="http://2013.ull.ie">2013</a>, <a href="http://2014.ull.ie">2014</a> &amp; <a href="http://2015.ull.ie">2015</a>.</p>

    <p><a href="https://github.com/ullconf/2016">Pull requests accepted.</a></p>
  </div>

  <div class="queue"></div>