<div class="navbar">
    <div class="flexbox">

      <div class="nav-item-wrapper">
        <a href="./" class="nav-item">
          <h3>Home</h3>
        </a>
      </div>

      <div class="nav-item-wrapper">
        <a href="about.html" class="nav-item">
          <h3>Why Úll?</h3>
        </a>
      </div>

      <div class="nav-item-wrapper">
        <a href="schedule.html" class="nav-item">
          <h3>Schedule</h3>
        </a>
      </div>

      <div class="nav-item-wrapper">
        <a href="participate.html" class="nav-item">
          <h3>Participate</h3>
        </a>
      </div>

      <div class="nav-item-wrapper">
        <a href="logistics.html" class="nav-item">
          <h3>Logistics</h3>
        </a>
      </div>
    </div>
  </div>

  <div class="footer">
    <p>
      A production of Úll Conferences Limited, registered in Ireland, company number 535856. VAT number 3382039RH.
    </p>

    <p>Presented by <a href="who-we-are.html">Dermot, Paul, Sasha &amp; Ben</a>. View our <a href="code-of-conduct.html">code of conduct</a>.</p>

    <p>
      Feedback? Want to sponsor? <a href="mailto:feedback@ull.ie"  id="contact-us">Get in touch</a>.
    </p>

    <p>Previously: <a href="http://2012.ull.ie">2012</a>, <a href="http://2013.ull.ie">2013</a>, <a href="http://2014.ull.ie">2014</a> &amp; <a href="http://2015.ull.ie">2015</a>.</p>
  </div>